@import url("https://fonts.googleapis.com/css@?family=Source+Sans+Pro:wght@600&display=swap");

.display {
    z-index: 1000;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 0 10px;
    color: #25252A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: move;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.hidden {
    opacity: 0;
}

.popup {
    position: fixed;
}

.tooltip {
    position: absolute;
}

.tooltip::after {
    content: "";
    display: block;
    border: 5px solid;
    border-color: aliceblue transparent transparent transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#displayText {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
}

.displayBtn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0;
    position: absolute;
    background-color: rgb(145, 196, 240);
    top: -12px;
    right: -12px;
}

.displayIcon {
    width: 25px;
    height: 25px;
    object-fit: contain;
    cursor: pointer;
    margin: auto;
    padding: 0;
}
